.gallery__item {
	width: 100%;
	height: 200px;
	margin-bottom: 2rem;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
/* Medium and up */
@media screen and (min-width: 40em) {}
/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}
/* Large and up */
@media screen and (min-width: 64em) {
	.gallery__item {
		width: 90%;
		height: 150px;
	}
}
/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}