extend layouts/master

block title
  | リストランテ　アル・トレンタクアットロ - お問い合わせ

block append metatags 
  meta(name='description', content="すべては１９６８年に始まった。当時、エミリア・ローマニャの海岸沿いで戦後に建設された、ミラノ・マリッティマのホテル・インテルナツォナーレを売ったヴァルテル　カサリーニは、ローマで長い歴史を持つマリオ・デ・フィオーリ通りで「リストランテ　アル・トレンタクアットロ」をオープン。")
  meta(property="og:url"           content="http://ristoranteal34.it/jap/contact.html")
  meta(property="og:type"          content="website")
  meta(property="og:title"         content="リストランテ　アル・トレンタクアットロ - お問い合わせ")
  meta(property="og:description"   content="すべては１９６８年に始まった。当時、エミリア・ローマニャの海岸沿いで戦後に建設された、ミラノ・マリッティマのホテル・インテルナツォナーレを売ったヴァルテル　カサリーニは、ローマで長い歴史を持つマリオ・デ・フィオーリ通りで「リストランテ　アル・トレンタクアットロ」をオープン。")
  meta(property="og:image"         content="http://ristoranteal34.it/images/contact.jpg")

block content
  // Hero page image
  .hero__page.hero__page--contact
	
  // Page container
  .grid-container
    .page__container.page__container--contact
      .grid-x
        .large-9.medium-7.small-12.column
          .main__content
            .grid-x
              .large-6.medium-6.small-12.column
                h2 住所
                p
                  | リストランテ・アル・トレンタクアットロ
                  br
                  | ヴィア・マリオ・デ・フィオーリ　３４番　（スペイン広場）
                  br
                  | ００１８７ローマ 
                p
                  |	Tel. +39 06 6795091
                  br
                  | Fax +39 06 6786980
                p
                  | e-mail: 
                  a(href="mailto:ristorante34@yahoo.it") ristorante34@yahoo.it
              .large-6.medium-6.small-12.column
                h2 営業時間
                ul
                  li
                    | 毎日オープン
                  li
                    | 月
                    span 5.30 pm - 11.00 pm
                  li
                    | 火～日
                    span 12.30 pm - 11.00 pm
            .clear__section
            .where__contact
              .grid-x
                .large-12.medium-12.small-12.column
                  #map-ris34
        .large-3.medium-5.small-12.column
          .sidebar__content
            img(src="/images/decoration-top.png", alt="")
            include layouts/partials/contact
            img(src="/images/decoration-bottom.png", alt="")