.header__site
  .grid-container
    .grid-x
      .large-12.medium-12.small-12.column
        header
          a(href="/index.html")
            img.logo(src="/images/logo.png", alt="Ristorante 34 - Logo")
          .mobile__menu
            span.line
            span.line
            span.line
          .content__nav
            .more__option
              span Dedicato a Walter Casalini
              .language
                a.ita(href="#", data-lang="ita")
                a.eng(href="#", data-lang="eng")
                a.rus(href="#", data-lang="rus")
                a.jap(href="#", data-lang="jap")
            nav
              ul
                li
                  a(href="index.html") Home
                li
                  a(href="about.html") About
                li
                  a(href="menu.html") Menu
                li
                  a(href="gallery.html") Gallery
                li
                  a(href="contact.html") Contact

// Navigation menu mobile
.entry__menu
  nav
    ul
      li
        a(href="index.html") Home
      li
        a(href="about.html") About
      li
        a(href="menu.html") Menu
      li
        a(href="gallery.html") Gallery
      li
        a(href="contact.html") Contact
  .more__option
    span Dedicato a Walter Casalini
    .language
      a.ita(href="#")
      a.eng(href="#")
      a.rus(href="#")
      a.jap(href="#")
