extend layouts/master

block title
	| Ristorante 34 - About

block append metatags 
	meta(name='description', content='A description of the page')

block content
	// Hero page image
	.hero__page.hero__page--about
	
	// Page container
	.grid-container
		.page__container.page__container--home
			.grid-x
				.large-9.medium-7.small-12.column
					.main__content
						.grid-x
							.large-12.medium-12.small-12.column
								h2 Ristorante al 34
								p
									| All has started in 1968, in that year Mr. Walter Casalini sold the Hotel Internazionale, located on the Romagna Adriatic Coast “Milano Marittima”, that he founded as a pioneer after the second world war. He then decided to move to Rome and founded the Restaurant Al 34, in the historical center of the city in Via Mario de Fiori. Today the restaurant keeps running it’s activity maintained by Maria Luisa and the son, Nicola, a creator of a lot of the dishes we offer. They maintain on the restaurant with great care and respecting traditions while also innovating.
								p
									| At that time the first dishes of “Al 34” used to be very Romagna’s typical due to the long experience the founders had in that zone, that they then brought in the historical center of Rome. Slowly the Menu became more “Roman” . As time goes by, during all these years of love and devotion to the Restaurant from the whole Casalini family, “Al 34” became one of the Roman’s most favourite places. Going on the Restaurant’s Cuisine has improved year after year becoming famous all over the world.
								p
									| The Restaurant “Al 34” in addition to his wide menu, is distinguished from other Restaurants for many reasons: enviable location in the very hearth of Rome, the Eternal City, two steps from “Piazza di Spagna” one of the most famous places of the city, warm hospitality from the 20 years experienced Staff and the owners, that usually wander among the tables, listening client’s suggestions. At “Al 34” you can feel the magic atmosphere that lets you relax in a bygone era, thanks to the touch of Mrs. Maria Luisa.
								p
									| The Restaurant is a mix of tradition and innovation at the same time, thanks also to the young touch of the new generation, grandchildren Guglielmo and Gabriele.
								p
									| If the walls of this place could speak, they would tell a lot of particular stories. There are a lot of famous personalities who were welcomed by the restaurant during all these years, now all that remains is to come and visit us. 
				.large-3.medium-5.small-12.column
					.sidebar__content
						img(src="/images/decoration-top.png", alt="")
						img(src="/images/nonni.jpg", alt="")
						h6 Maria Luisa and Walter
						img(src="/images/staff.jpg", alt="")
						h6 Guglielmo and Gabriele
						img(src="/images/decoration-bottom.png", alt="")