extend layouts/master

block title
	| Ristorante 34 - Chi siamo

block append metatags 
	meta(name='description', content='A description of the page')

block content
	// Hero page image
	.hero__page.hero__page--about
	
	// Page container
	.grid-container
		.page__container.page__container--home
			.grid-x
				.large-9.medium-7.small-12.column
					.main__content
						.grid-x
							.large-12.medium-12.small-12.column
								h2 Ristorante al 34
								p
									| Tutto è iniziato nel 1968, anno in cui Walter Casalini, dopo aver ceduto lo storico albergo di famiglia, l'Hotel Internazionale di Milano Marittima, aperto nel dopoguerra da pioniere della riviera romagnola, ha dato vita, a Roma, nella storica Via Mario dè Fiori, al Ristorante "Al 34". Insieme alla moglie Maria Luisa e al figlio Nicola, creatore della gran parte dei magnifici piatti che potete trovare qui da noi, il Ristorante viene portato avanti fin d'allora con cura, tradizione ed innovazione.
								p
									| I primi piatti del '34 avevano un sapore tutto romagnolo, esportati fino a qua, nel cuore del centro storico di Roma, proprio da quella lunga esperienza avuta in Romagna. In tutti questi anni, com'è giusto che sia, i tempi sono cambiati rapidamente, ma l'amore e la dedizione nei confronti di questa attività, da parte di tutta la famiglia Casalini, hanno dato vita ad uno dei locali più amati dai romani e non solo; il passare del tempo e la cucina sempre più curata e, insieme, “italiana a 360 gradi”, hanno portato il '34 ad essere rinomato anche nel mondo.
								p
									| Ovviamente, oltre alla cucina, che offre un'infinità di piatti, il nostro Ristorante ha saputo diversificarsi anche per tanti altri motivi: una posizione invidiata da molti, proprio nel cuore della Città Eterna, a due passi da Piazza di Spagna; la calorosa accoglienza, sia da parte dei proprietari,i quali girano tra i tavoli proprio come se fossero "a casa", che del personale, ormai al servizio da oltre 20 anni, dunque preparati ad offrire al cliente qualsiasi tipo di servizio; per non parlare poi dell'atmosfera che circonda i tavoli, la quale, grazie al "tocco" e al gusto della signora Maria Luisa, permette al cliente di rilassarsi ed immergersi in un'epoca ormai passata. Questo Ristorante fonde, da una parte, nostalgia e modernità e dall'altra, esperienza e freschezza, che, con l'apparizione dei nipoti Guglielmo e Gabriele, ha aggiunto quel tocco di novità e di gioventù.
								p
									| Se i muri di questo locale dovessero parlare, racconterebbero storie davvero singolari, grazie al fatto che, in tutti questi anni, tante sono state le personalità note che hanno varcato la porta del '34, ma adesso...non mi resta davvero altro che invitarvi a passare qua da noi…
				.large-3.medium-5.small-12.column
					.sidebar__content
						img(src="/images/decoration-top.png", alt="")
						img(src="/images/nonni.jpg", alt="")
						h6 Maria Luisa e Walter
						img(src="/images/staff.jpg", alt="")
						h6 Guglielmo e Gabriele
						img(src="/images/decoration-bottom.png", alt="")