extend layouts/master

block title
  | Ristorante 34 - Contacts

block append metatags 
  meta(name='description', content="All has started in 1968, in that year Mr. Walter Casalini sold the Hotel Internazionale, located on the Romagna Adriatic Coast “Milano Marittima”, that he founded as a pioneer after the second world war. He then decided to move to Rome and founded the Restaurant Al 34, in the historical center of the city in Via Mario de Fiori.")
  meta(property="og:url"           content="http://ristoranteal34.it/eng/contact.html")
  meta(property="og:type"          content="website")
  meta(property="og:title"         content="Ristorante al 34 - Contacts")
  meta(property="og:description"   content="All has started in 1968, in that year Mr. Walter Casalini sold the Hotel Internazionale, located on the Romagna Adriatic Coast “Milano Marittima”, that he founded as a pioneer after the second world war. He then decided to move to Rome and founded the Restaurant Al 34, in the historical center of the city in Via Mario de Fiori.")
  meta(property="og:image"         content="http://ristoranteal34.it/images/contact.jpg")

block content
  // Hero page image
  .hero__page.hero__page--contact
	
  // Page container
  .grid-container
    .page__container.page__container--contact
      .grid-x
        .large-9.medium-7.small-12.column
          .main__content
            .grid-x
              .large-6.medium-6.small-12.column
                h2 Where we are
                p
                  | Ristorante al 34
                  br
                  | Via Mario de’ Fiori 34, (P.zza di Spagna)
                  br
                  | 00187 Roma
                p
                  |	Tel. +39 06 6795091
                  br
                  | Fax +39 06 6786980
                p
                  | e-mail: 
                  a(href="mailto:ristorante34@yahoo.it") ristorante34@yahoo.it
              .large-6.medium-6.small-12.column
                h2 Opening hours
                ul
                  li
                    | Open every day
                  li
                    | Monday
                    span 5.30 pm - 11.00 pm
                  li
                    | Tuesday - Sunday
                    span 12.30 pm - 11.00 pm
            .clear__section
            .where__contact
              .grid-x
                .large-12.medium-12.small-12.column
                  #map-ris34
        .large-3.medium-5.small-12.column
          .sidebar__content
            img(src="/images/decoration-top.png", alt="")
            include layouts/partials/contact
            img(src="/images/decoration-bottom.png", alt="")