extend layouts/master

block title
	| Ristorante 34

block append metatags 
	meta(name='description', content="All has started in 1968, in that year Mr. Walter Casalini sold the Hotel Internazionale, located on the Romagna Adriatic Coast “Milano Marittima”, that he founded as a pioneer after the second world war. He then decided to move to Rome and founded the Restaurant Al 34, in the historical center of the city in Via Mario de Fiori.")
	meta(property="og:url"           content="http://ristoranteal34.it/eng/")
	meta(property="og:type"          content="website")
	meta(property="og:title"         content="Ristorante al 34")
	meta(property="og:description"   content="All has started in 1968, in that year Mr. Walter Casalini sold the Hotel Internazionale, located on the Romagna Adriatic Coast “Milano Marittima”, that he founded as a pioneer after the second world war. He then decided to move to Rome and founded the Restaurant Al 34, in the historical center of the city in Via Mario de Fiori.")
	meta(property="og:image"         content="http://ristoranteal34.it/images/homepage.jpg")

block content
	// Hero page image
	.hero__page.hero__page--home
	
	// Page container
	.grid-container
		.page__container.page__container--home
			.grid-x
				.large-9.medium-7.small-12.column
					.main__content
						.grid-x
							.large-6.medium-12.small-12.column
								h2 Ristorante al 34
								p
									| All has started in 1968, in that year Mr. Walter Casalini sold the Hotel Internazionale, located on the Romagna Adriatic Coast “Milano Marittima”, that he founded as a pioneer after the second world war. He then decided to move to Rome and founded the Restaurant Al 34, in the historical center of the city in Via Mario de Fiori.
								p
									| Today the restaurant keeps running it’s activity maintained by Maria Luisa and the son, Nicola, a creator of a lot of the dishes we offer. They maintain on the restaurant with great care and respecting traditions while also innovating.
								a.go__to-page(href="about.html") Read more
							.large-6.medium-12.small-12.column
								h2 Our specialities
								p
									| Our cuisine can be described as traditional italian and roman but at the same time very creative. All this is owing to Nicola Casalini’s genius mind and his constant attention of the owners to the client’s satisfaction, always having a wide variety of dishes keeping always the high quality standards.
								p
									| The policy of the Ristorante al 34 is the same since it’s opening, we offer to the client the best at a reasonable price.In our menu you can find plenty of dishes to choose from...
								a.go__to-page(href="menu.html") Read more
						.clear__section
						.where__homepage
							.grid-x
								.large-6.medium-6.small-12.column
									h2 Where we are
									#map-ris34
								.large-6.medium-6.small-12.column
									h2.is--transparent Dove siamo
									p
										| Ristorante al 34
										br
										| Via Mario de’ Fiori 34, (P.zza di Spagna)
										br
										| 00187 Roma
									p
										|	Tel. +39 06 6795091
										br
										| Fax +39 06 6786980
									p
										|e-mail: 
										a(href="mailto:ristorante34@yahoo.it") ristorante34@yahoo.it
				.large-3.medium-5.small-12.column
					.sidebar__content
						img(src="/images/decoration-top.png", alt="")
						img(src="/images/gruppo.jpg", alt="")
						a(href="/images/download/menu-cocktail.pdf", target="_blank")
							img(src="/images/cocktail.jpg", alt="")
							h6 Download the new Restaurant 34 cocktail menu!
						a(href="", target="_blank")
							img(src="/images/cartolina.jpg", alt="")
							//- h6 Sono arrivate le nuove cartoline del "34"!
						img(src="/images/decoration-bottom.png", alt="")