extend layouts/master

block title
	| Ristorante 34

block append metatags 
	meta(name='description', content='A description of the page')

block content
	// Hero page image
	.hero__page.hero__page--home
	
	// Page container
	.grid-container
		.page__container.page__container--home
			.grid-x
				.large-9.medium-7.small-12.column
					.main__content
						.grid-x
							.large-6.medium-12.small-12.column
								h2 Ristorante al 34
								p
									| All has started in 1968, in that year Mr. Walter Casalini sold the Hotel Internazionale, located on the Romagna Adriatic Coast “Milano Marittima”, that he founded as a pioneer after the second world war. He then decided to move to Rome and founded the Restaurant Al 34, in the historical center of the city in Via Mario de Fiori.
								p
									| Today the restaurant keeps running it’s activity maintained by Maria Luisa and the son, Nicola, a creator of a lot of the dishes we offer. They maintain on the restaurant with great care and respecting traditions while also innovating.
								a.go__to-page(href="about.html") Read more
							.large-6.medium-12.small-12.column
								h2 La nostra cucina
								p
									| La nostra cucina è quella tradizionale, romana ed italiana, ma nello stesso tempo anche molto creativa; questo grazie all'attenzione dei proprietari e alla genialità del figlio Nicola Casalini, i quali hanno saputo stare al passo coi tempi, cercando di poter dare al cliente la più alta e vasta scelta dei prodotti, senza però influire mai sulla qualità.
								p
									| La politica del '34, da quando ha aperto nel 1968 ad oggi, è stata sempre quella di offrire al cliente "il meglio" a prezzi ragionevoli. Il nostro Menu offre davvero un’infinità di piatti.
								a.go__to-page(href="menu.html") Continua
						.clear__section
						.where__homepage
							.grid-x
								.large-6.medium-6.small-12.column
									h2 Dove siamo
									#map-ris34
								.large-6.medium-6.small-12.column
									h2.is--transparent Dove siamo
									p
										| Ristorante al 34
										br
										| Via Mario de’ Fiori 34, (P.zza di Spagna)
										br
										| 00187 Roma
									p
										|	Tel. +39 06 6795091
										br
										| Fax +39 06 6786980
									p
										|e-mail: 
										a(href="mailto:ristorante34@yahoo.it") ristorante34@yahoo.it
				.large-3.medium-5.small-12.column
					.sidebar__content
						img(src="/images/decoration-top.png", alt="")
						img(src="/images/gruppo.jpg", alt="")
						a(href="/images/download/menu-cocktail.pdf", target="_blank")
							img(src="/images/cocktail.jpg", alt="")
							h6 Scarica il nuovo menu dei cocktail del Ristorante 34!
						a(href="", target="_blank")
							img(src="/images/cartolina.jpg", alt="")
							h6 Sono arrivate le nuove cartoline del "34"!
						img(src="/images/decoration-bottom.png", alt="")