extend layouts/master

block title
	| Ristorante 34 - Menu

block append metatags 
	meta(name='description', content="Our cuisine can be described as traditional italian and roman but at the same time very creative. All this is owing to Nicola Casalini’s genius mind and his constant attention of the owners to the client’s satisfaction, always having a wide variety of dishes keeping always the high quality standards.")
	meta(property="og:url"           content="http://ristoranteal34.it/eng/menu.html")
	meta(property="og:type"          content="website")
	meta(property="og:title"         content="Ristorante al 34 - Menu")
	meta(property="og:description"   content="Our cuisine can be described as traditional italian and roman but at the same time very creative. All this is owing to Nicola Casalini’s genius mind and his constant attention of the owners to the client’s satisfaction, always having a wide variety of dishes keeping always the high quality standards.")
	meta(property="og:image"         content="http://ristoranteal34.it/images/menu.jpg")

block content
	// Hero page image
	.hero__page.hero__page--menu
	
	// Page container
	.grid-container
		.page__container.page__container--home
			.grid-x
				.large-9.medium-7.small-12.column
					.main__content
						.grid-x
							.large-12.medium-12.small-12.column
								h2 Our specialities
								p
									| Our cuisine can be described as traditional italian and roman but at the same time very creative. All this is owing to Nicola Casalini’s genius mind and his constant attention of the owners to the client’s satisfaction, always having a wide variety of dishes keeping always the high quality standards.
								p
									| The policy of the Ristorante al 34 is the same since it’s opening, we offer to the client the best at a reasonable price. In our menu you can find plenty of dishes to choose from: starting with specials appetizers, endless variety of pasta, and finishing with meat, fish and finest home-made desserts. We also offer a constantly improved wine list, while you can ask help to our fabulous waiters Renzo and Sandro.
								p
									| We serve not only traditional Roman cuisine but also well-known south and north italian dishes. We suggest you to start your exciting gastronomic journey by tasting our pasta soup with peas and cuttle fish, famouse all over the world.
								p
									| Download the Menu in your language:
								a.menu__button(href="/images/download/menu_italiano_ristorante34.pdf", target="_blank")
									.lang.ita
									span Scarica il menu
								a.menu__button(href="/images/download/menu_inglese_ristorante34.pdf", target="_blank")
									.lang.eng
									span Download menu
								a.menu__button(href="/images/download/menu_russo_ristorante34.pdf", target="_blank")
									.lang.rus
									span скачать меню
								a.menu__button(href="/images/download/menu_giapponese_ristorante34.pdf", target="_blank")
									.lang.jap
									span メニューをダウンロード
								a.menu__button(href="/images/download/menu_francese_ristorante34.pdf", target="_blank")
									.lang.fra
									span Télécharger le Menu
				.large-3.medium-5.small-12.column
					.sidebar__content
						img(src="/images/decoration-top.png", alt="")
						img(src="/images/cuoco.jpg", alt="")
						h6 Nicola
						img(src="/images/staff-duo.jpg", alt="")
						img(src="/images/decoration-bottom.png", alt="")