html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
a {
  color: inherit;
  text-decoration: none;
  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
    color: inherit;
  }
}
.grid-container {
	width: 100%;
	max-width: 1280px;
    padding: 0;
}
.header__site {
	border-top: 10px solid $red;
	background-color: $white;
	width: 100% !important;
    z-index: 999 !important;
}
.clear__section {
    height: 50px;
}
/* Medium and up */
@media screen and (min-width: 40em) {}
/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}
/* Large and up */
@media screen and (min-width: 64em) {
  .page__container {
    position: relative;
    &.page__container--home {
      border-left: 1px solid $red;
      &:before {
        position: absolute;
        content: url('/images/decoration-red.png');
        top: 0;
        left: 0;
      }
    }
    &.page__container--contact {
      border-left: 1px solid $red;
      &:before {
        position: absolute;
        content: url('/images/decoration-red.png');
        top: 0;
        left: 0;
      }
    }
    &.page__container--about {
      border-left: 1px solid $green;
      &:before {
        position: absolute;
        content: url('/images/decoration-green.png');
        top: 0;
        left: 0;
      }
    }
    &.page__container--menu {
      border-left: 1px solid $beige;
      &:before {
        position: absolute;
        content: url('/images/decoration-beige.png');
        top: 0;
        left: 0;
      }
    }
    &.page__container--text {
      li {
        border: 0 !important;
        list-style-type: square !important;
      }
      strong {
        font-family: 'Old Standard TT', serif;
        font-weight: 700;
        font-size: 1.2rem;
      }
    }
  }
  .grid-container {
    padding-right: .9375rem;
    padding-left: .9375rem;
  }
}
/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}