footer
  .grid-container
    .grid-x
      .large-10.large-offset-1.medium-12.small-12.column
        .grid-x
          .large-4.medium-4.small-12.column
            .content__column
              img(src="/images/decoration-top.png", alt="")
              h6 Контакты
              p
                | Ristorante al 34
                br
                | Via Mario de’ Fiori 34, (P.zza di Spagna)
                br
                | 00187 Roma
              p
                |	Tel. +39 06 6795091
                br
                | Fax +39 06 6786980
              p
                |e-mail: 
                a(href="mailto:ristorante34@yahoo.it") ristorante34@yahoo.it
          .large-4.medium-4.small-12.column
            .content__column
              img(src="/images/decoration-top.png", alt="")
              h6 Часы работы
              ul
                li
                  | Открыт каждый день
                li
                  | Понедельник
                  span 17.30 - 23.00
                li
                  | Вторник - Воскресенье
                  span 12.30 - 23.00
              h6 Мы в сети
              a(href="https://www.facebook.com/AL34ROMA", target="_blank")
                i.fa.fa-facebook-official
              a(href="http://www.tripadvisor.it/Restaurant_Review-g187791-d696430-Reviews-Al_34-Rome_Lazio.html", target="_blank")
                i.fa.fa-tripadvisor
          .large-4.medium-4.small-12.column
            .content__column
              img(src="/images/decoration-top.png", alt="")
              h6 Партнёры
              a(href="http://www.gramigna.org/", target="_blank")
                img(src="/images/partner/gramigna.jpg", alt="")
              a(href="http://www.nikisresort.com/", target="_blank")
                img(src="/images/partner/nikisresort.jpg", alt="")
              a(href="http://www.annamariapasteria.com/", target="_blank")
                img(src="/images/partner/annamariapasteria.jpg", alt="")
              a(href="http://www.siciliadivendicari.it/", target="_blank")
                img(src="/images/partner/sicilianew.jpg", alt="")
              a(href="http://www.pietredifiume.it/", target="_blank")
                img(src="/images/partner/pietredifiume.jpg", alt="")
              a(href="https://www.facebook.com/Ary95.Makeup/", target="_blank")
                img(src="/images/partner/ari-makeup.jpg", alt="")
.copyright
  h6
    | © 2013 - Ristorante al 34. Все права защищены | Trentaquattro S.r.l. - P.I. 01569041005 -
    a(href="/privacy.html", target="_blank") Policy Privacy
    | - 
    a(href="/cookie.html", target="_blank") Cookie
    |  | Web design by 
    a(href="//officine06.com", target="_blank") Officine06