extend layouts/master

block title
	| Ristorante 34 - Около

block append metatags 
	meta(name='description', content='A description of the page')

block content
	// Hero page image
	.hero__page.hero__page--about
	
	// Page container
	.grid-container
		.page__container.page__container--home
			.grid-x
				.large-9.medium-7.small-12.column
					.main__content
						.grid-x
							.large-12.medium-12.small-12.column
								h2 Ristorante al 34
								p
									| Всё началось в далёком 1968 году, когда Вальтер Казалини решил оставить свой феноменальный отель «Интернациональ» на живописном побережье адриатики Милано-Мариттима (Романья), открытый им в послевоенные годы, и дал жизнь новому ресторану «34» в самом сердце Рима, на улице Марио де Фиори. Сегодня ресторан «34» всё также продолжает радовать своих посетителей благодаря супруге Вальтера Марие Луизе и сыну Николе - создателю большинства восхитительных блюд, которые можно у нас отведать.
								p
									| Первые блюда «34» характеризовал яркий отпечаток кухни Романьи в силу многолетнего опыта, приобретённого в этой области Италии, по праву называемой «гастрономический рай». С течением времени в меню появлялись блюда традиционной римской кухни… За годы непрерывной работы преданность делу и усилия всей семьи Казалини превратили ресторан «34» в одно из самых любимых мест римлян и не только. Сегодня в полной мере и своём разнообразии итальянская кухня приносит «34» известность в разных уголках планеты.
								p
									| Без сомнения можно сказать, что помимо огромного количества разнообразных блюд, наш ресторан отличается завидным расположением в самом сердце вечного города, в двух шагах от Испанской лестницы; тёплый приём вам всегда окажут хозяева и весь персонал «34», который на службе добрых два десятка лет, и хорошо знает что предложить искушенному клиенту; благодаря синьоре Марие Луизе характерный дизайн позволяет расслабиться и окунуться в волшебную атмосферу ушедшей эпохи. В идее ресторана смешаны ностальгия и модерн, а так же традиции и современность. Ежедневно в жизнь ресторана вносят новизну и свежие идеи внуки Вальтера - Гульельмо и Габриэле.
								p
									| Если бы стены здесь могли говорить, то рассказали бы много удивительных историй, увиденных за эти годы, ведь порог «34» переступили многие известные личности, творческие натуры и выдающиеся люди. Изо дня в день мы приветствуем наших новых и постоянных клиентов, загляните и Вы к нам...
				.large-3.medium-5.small-12.column
					.sidebar__content
						img(src="/images/decoration-top.png", alt="")
						img(src="/images/nonni.jpg", alt="")
						h6 Мария Луиза и Вальтер
						img(src="/images/staff.jpg", alt="")
						h6 Уильям и Габриэль
						img(src="/images/decoration-bottom.png", alt="")