extend layouts/master

block title
	| Ristorante 34 - Галерея

block append metatags 
	meta(name='description', content='A description of the page')

block content
	// Hero page image
	.hero__page.hero__page--gallery
	
	// Page container
	.grid-container
		.page__container.page__container--home
			.grid-x
				.large-12.medium-12.small-12.column
					.main__content
						.grid-x
							.large-12.medium-12.small-12.column
								h2 Галерея
						.container__gallery
							.grid-x
								.large-3.medium-3.small-12.column
									a(href="/images/gallery/25.jpg")
										.gallery__item(style="background-image:url('/images/gallery/25.jpg');")
								.large-3.medium-3.small-12.column
									a(href="/images/gallery/26.jpg")
										.gallery__item(style="background-image:url('/images/gallery/26.jpg');")
								.large-3.medium-3.small-12.column
									a(href="/images/gallery/27.jpg")
										.gallery__item(style="background-image:url('/images/gallery/27.jpg');")
								.large-3.medium-3.small-12.column
									a(href="/images/gallery/28.jpg")
										.gallery__item(style="background-image:url('/images/gallery/28.jpg');")
								.large-3.medium-3.small-12.column
									a(href="/images/gallery/01.jpg")
										.gallery__item(style="background-image:url('/images/gallery/01.jpg');")
								.large-3.medium-3.small-12.column
									a(href="/images/gallery/02.jpg")
										.gallery__item(style="background-image:url('/images/gallery/02.jpg');")
								.large-3.medium-3.small-12.column
									a(href="/images/gallery/03.jpg")
										.gallery__item(style="background-image:url('/images/gallery/03.jpg');")
								.large-3.medium-3.small-12.column
									a(href="/images/gallery/04.jpg")
										.gallery__item(style="background-image:url('/images/gallery/04.jpg');")
								.large-3.medium-3.small-12.column
									a(href="/images/gallery/05.jpg")
										.gallery__item(style="background-image:url('/images/gallery/05.jpg');")
								.large-3.medium-3.small-12.column
									a(href="/images/gallery/06.jpg")
										.gallery__item(style="background-image:url('/images/gallery/06.jpg');")
								.large-3.medium-3.small-12.column
									a(href="/images/gallery/07.jpg")
										.gallery__item(style="background-image:url('/images/gallery/07.jpg');")
								.large-3.medium-3.small-12.column
									a(href="/images/gallery/08.jpg")
										.gallery__item(style="background-image:url('/images/gallery/08.jpg');")
								.large-3.medium-3.small-12.column
									a(href="/images/gallery/09.jpg")
										.gallery__item(style="background-image:url('/images/gallery/09.jpg');")
								.large-3.medium-3.small-12.column
									a(href="/images/gallery/10.jpg")
										.gallery__item(style="background-image:url('/images/gallery/10.jpg');")
								.large-3.medium-3.small-12.column
									a(href="/images/gallery/44.jpg")
										.gallery__item(style="background-image:url('/images/gallery/44.jpg');")
								.large-3.medium-3.small-12.column
									a(href="/images/gallery/12.jpg")
										.gallery__item(style="background-image:url('/images/gallery/12.jpg');")
								.large-3.medium-3.small-12.column
									a(href="/images/gallery/13.jpg")
										.gallery__item(style="background-image:url('/images/gallery/13.jpg');")
								.large-3.medium-3.small-12.column
									a(href="/images/gallery/30.jpg")
										.gallery__item(style="background-image:url('/images/gallery/30.jpg');")
								.large-3.medium-3.small-12.column
									a(href="/images/gallery/31.jpg")
										.gallery__item(style="background-image:url('/images/gallery/31.jpg');")
								.large-3.medium-3.small-12.column
									a(href="/images/gallery/32.jpg")
										.gallery__item(style="background-image:url('/images/gallery/32.jpg');")
								.large-3.medium-3.small-12.column
									a(href="/images/gallery/33.jpg")
										.gallery__item(style="background-image:url('/images/gallery/33.jpg');")
								.large-3.medium-3.small-12.column
									a(href="/images/gallery/35.jpg")
										.gallery__item(style="background-image:url('/images/gallery/35.jpg');")
								.large-3.medium-3.small-12.column
									a(href="/images/gallery/36.jpg")
										.gallery__item(style="background-image:url('/images/gallery/36.jpg');")
								.large-3.medium-3.small-12.column
									a(href="/images/gallery/42.jpg")
										.gallery__item(style="background-image:url('/images/gallery/42.jpg');")
								.large-3.medium-3.small-12.column
									a(href="/images/gallery/37.jpg")
										.gallery__item(style="background-image:url('/images/gallery/37.jpg');")
								.large-3.medium-3.small-12.column
									a(href="/images/gallery/39.jpg")
										.gallery__item(style="background-image:url('/images/gallery/39.jpg');")
								.large-3.medium-3.small-12.column
									a(href="/images/gallery/43.jpg")
										.gallery__item(style="background-image:url('/images/gallery/43.jpg');")
								.large-3.medium-3.small-12.column
									a(href="/images/gallery/40.jpg")
										.gallery__item(style="background-image:url('/images/gallery/40.jpg');")
								.large-3.medium-3.small-12.column
									a(href="/images/gallery/22.jpg")
										.gallery__item(style="background-image:url('/images/gallery/22.jpg');")
								.large-3.medium-3.small-12.column
									a(href="/images/gallery/34.jpg")
										.gallery__item(style="background-image:url('/images/gallery/34.jpg');")
								.large-3.medium-3.small-12.column
									a(href="/images/gallery/21.jpg")
										.gallery__item(style="background-image:url('/images/gallery/21.jpg');")