extend layouts/master

block title
	| Ristorante 34

block append metatags 
	meta(name='description', content="Всё началось в далёком 1968 году, когда Вальтер Казалини решил оставить свой феноменальный отель «Интернациональ» на живописном побережье адриатики Милано-Мариттима (Романья), открытый им в послевоенные годы, и дал жизнь новому ресторану «34» в самом сердце Рима, на улице Марио де Фиори. Сегодня ресторан «34» всё также продолжает радовать своих посетителей благодаря супруге Вальтера Марие Луизе и сыну Николе - создателю большинства восхитительных блюд, которые можно у нас отведать.")
	meta(property="og:url"           content="http://ristoranteal34.it/rus/")
	meta(property="og:type"          content="website")
	meta(property="og:title"         content="Ristorante al 34")
	meta(property="og:description"   content="Всё началось в далёком 1968 году, когда Вальтер Казалини решил оставить свой феноменальный отель «Интернациональ» на живописном побережье адриатики Милано-Мариттима (Романья), открытый им в послевоенные годы, и дал жизнь новому ресторану «34» в самом сердце Рима, на улице Марио де Фиори. Сегодня ресторан «34» всё также продолжает радовать своих посетителей благодаря супруге Вальтера Марие Луизе и сыну Николе - создателю большинства восхитительных блюд, которые можно у нас отведать.")
	meta(property="og:image"         content="http://ristoranteal34.it/images/homepage.jpg")

block content
	// Hero page image
	.hero__page.hero__page--home
	
	// Page container
	.grid-container
		.page__container.page__container--home
			.grid-x
				.large-9.medium-7.small-12.column
					.main__content
						.grid-x
							.large-6.medium-12.small-12.column
								h2 Ristorante al 34
								p
									| Всё началось в далёком 1968 году, когда Вальтер Казалини решил оставить свой феноменальный отель «Интернациональ» на живописном побережье адриатики Милано-Мариттима (Романья), открытый им в послевоенные годы, и дал жизнь новому ресторану «34» в самом сердце Рима, на улице Марио де Фиори. Сегодня ресторан «34» всё также продолжает радовать своих посетителей благодаря супруге Вальтера Марие Луизе и сыну Николе - создателю большинства восхитительных блюд, которые можно у нас отведать.
								a.go__to-page(href="about.html") Продолжить
							.large-6.medium-12.small-12.column
								h2 О нашей кухне
								p
									| Кухню ресторана «34» можно охарактеризовать как традиционно римскую и итальянскую, в то же время всегда очень творческую, благодаря неустанному вниманию хозяев и изобретательности Николы Казалини. Эти люди всегда старались предложить клиенту обширный выбор блюд, при этом никогда не снижая их качества. С самого открытия ресторана «34» в 1968 году его политика остается прежней и по сей день - это постоянное стремление предложить лучшее по умеренной цене.
								a.go__to-page(href="menu.html") Продолжить
						.clear__section
						.where__homepage
							.grid-x
								.large-6.medium-6.small-12.column
									h2 Наш адрес
									#map-ris34
								.large-6.medium-6.small-12.column
									h2.is--transparent Dove siamo
									p
										| Ristorante al 34
										br
										| Via Mario de’ Fiori 34, (P.zza di Spagna)
										br
										| 00187 Roma
									p
										|	Tel. +39 06 6795091
										br
										| Fax +39 06 6786980
									p
										|e-mail: 
										a(href="mailto:ristorante34@yahoo.it") ristorante34@yahoo.it
				.large-3.medium-5.small-12.column
					.sidebar__content
						img(src="/images/decoration-top.png", alt="")
						img(src="/images/gruppo.jpg", alt="")
						a(href="/images/download/menu-cocktail.pdf", target="_blank")
							img(src="/images/cocktail.jpg", alt="")
							h6 Загрузите новое меню коктейля Ristorante 34!
						a(href="", target="_blank")
							img(src="/images/cartolina.jpg", alt="")
							//- h6 Sono arrivate le nuove cartoline del "34"!
						img(src="/images/decoration-bottom.png", alt="")